<%= link_to 'New Secret Code', new_secret_code_path, class: 'btn btn-primary pull-right' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>User</th>
      <th>Availibility</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @secret_codes.each do |secret_code| %>
      <tr>
        <td><%= secret_code.code %></td>
        <td><%= full_name(secret_code.user) %></td>
        <td>
          <% if secret_code.user.present? %>
          <p class="text-primary">Unavailable</p>
          <% else %>
          <p class="text-success">Available</p>
          <% end %>
        </td>
        <td>
          <%= link_to 'Destroy', secret_code_path(secret_code.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Secret Code', new_secret_code_path, class: 'btn btn-primary pull-right' %>
